<h1>Scholarships</h1>
			<p>
				President Obama was born in Honolulu, Hawaii on August 4th, 1961, to a father from Kenya and a mother from Kansas. Growing up, he was also raised by his grandfather, who served in Patton’s army, and his grandmother, who worked her way up from the secretarial pool to become vice president at a local bank.
			</p>
			<p>
				In his first term, the President passed the landmark Affordable Care Act, helping to put quality health care within reach for more Americans. He ended the war in Iraq and is working to responsibly end the war in Afghanistan, passed historic Wall Street reform to make sure taxpayers never again have to bail out big banks, and cut taxes for every American worker—putting $3,600 back in the pockets of the typical family. He’s fought for equal rights and a woman’s right to make her own health decisions. And he’s made a college education more affordable for millions of students and their families.
			</p>
			<p>
				Barack Obama was first elected to the Illinois State Senate in 1996. During his time in Springfield, he passed the first major ethics reform in 25 years, cut taxes for working families, and expanded health care for children and their parents. Elected to the U.S. Senate in 2004, he reached across the aisle to pass the farthest-reaching lobbyist reform in a generation, lock up the world’s most dangerous weapons, and bring transparency to government by tracking federal spending online.
			</p>
			<p>
				President Obama was born in Honolulu, Hawaii on August 4th, 1961, to a father from Kenya and a mother from Kansas. Growing up, he was also raised by his grandfather, who served in Patton’s army, and his grandmother, who worked her way up from the secretarial pool to become vice president at a local bank.
			</p>