<div class="animated fadeIn">
    
    <h1>Enhance Qualityof Education and Healthcare</h1>
    <img class="img-responsive page-img" src="assets/img/education.jpg">
    
    <ul>
        <li><h2>Extend funds and other assistance to Maldivian students enrolled in local institutions of learning, who are facing hardship due to lack of lack of adequate financing.</h2></li>
    <li><h2>Facilitate educational opportunities for Maldivian students both in the Maldives and overseas, through scholarships, grants, stipends and students loans.</h2></li>
    <li><h2>Identify private schools and special classes in the Maldives, which are in need of financial, technical and in-kind assistance, and extend such assistance to these centres.</h2></li>
    <li><h2>Facilitate opportunities for Maldivian students enrolled in institutions of learning in the coun- try to benefit from special courses and lectures conducted by visiting professors and lecturers from local and overseas institutions of learning.</h2></li>
    <li><h2>Provide materials and assistance such as stationery, books, computers, and internet connectivity, needed to improve the quality of education of the schools in the Maldives.</h2></li>
    <li><h2>Extend financial and in-kind assistance towards maintenance an renovation of social centres and other such facilities in the Atolls.</h2></li>
    <li><h2>Provide financial, technical and in-kind assist- ance towards the improvement of healthcare stand- ards and access to healthcare in the Maldives</h2></li>
        <li><h2>Identify hospitals, clinics and other such institutions in need of financial, technical and in-kind assistance and extend such assistance to these centres and assist is the establishment of short-term medical camps, in all parts of the country, with the assistance of local and foreign specialists as well as plan and implement various health awareness programmes, with
    a view to improving health and welfare in the Maldives.</h2></li>
    </ul>
</div>