<div class="animated fadeIn">
    
    <h1>Islam</h1>
    <img class="img-responsive page-img" src="assets/img/islam.jpg">
<ul class="lissåt-unstyled">
    <li><h2>Plan and implement various programmes to increase awareness of Islam’s call for moderation, understanding and toleration.</h2></li>
    <li><h2>Establish institutions of religious education, libraries, classes and other such centres</h2></li>
</ul>
</div>