<div class="animated fadeIn">
    
    <h1>Promote Social Welfare, Sustainable Development and Gender Equality</h1>
<img class="img-responsive page-img" src="assets/img/social.jpg">

<ul>
    <li><h2>Promote unity and fraternity among the Maldives youth, and extend financial, technical and in-kind assistance towards programmes aimed at youth welfare, including academic, technical and sporting events.</h2></li>
    <li><h2>Plan and implement various programmes in the Maldives to promote sustainable development.</h2></li>
    <li><h2>Plan and implement various programmes aimed at raising awareness on the importance of promoting and strengthen- ing gender equality in the Maldives. In addition, plan and implement programmes to extend educational, technical and business opportunities for Maldivian women.</h2></li>
</ul>
</div>