<div class="animated fadeIn">
    <h1>Annual General Meeting</h1>
    <img class="img-responsive page-img" src="assets/img/agm.jpg">
			<p>
				The Foundation held its First General Meeting on the 19th of May 2010. The first Executive Committee of the Foundation was elected during the meeting chaired by the Founder Member, President Gayoom.
			</p>
    <div class="row gallery-row">
        <div class="col-md-4 gallery-thumb">
                <a href="#/about/annual-general-meetings/gallery-1" data-toggle="modal" data-target="#gallery-1" >
                    <img class="img-responsive" src="assets/img/fagm.jpg">
                    <h4>The First Annual General Meeting</h4>
                </a>
        </div>
        <div class="col-md-4 gallery-thumb">
                <a href="#/about/annual-general-meetings/gallery-1" data-toggle="modal" data-target="#gallery-1">
                    <img class="img-responsive" src="assets/img/2.jpg">
                    <h4>The Second Annual General Meeting</h4>
                </a>
        </div>
        <div class="col-md-4 gallery-thumb">
                <a href="#/about/annual-general-meetings/gallery-1" data-toggle="modal" data-target="#gallery-1">
                    <img class="img-responsive" src="assets/img/3.jpg">
                    <h4>The Third Annual General Meeting</h4>
                </a>
        </div>
    </div>
</div>

<div ui-view></div>