<div class="animated fadeIn">

            <h1>The Constitution</h1>
        <img class="img-responsive page-img" src="assets/img/constitution.jpg">
                    <p>
                        The Maumoon Foundation (TMF) was set up on 26 January 2010 by the Former President of the Republic of Maldives, His Excellency Maumoon Abdul Gayoom, to fulfill his desire to utilize his resources, contacts and experience in improving the livelihoods of the Maldiv- ian people. The Foundation’s programmes are driven by the vision of President Gayoom, and closely follow issue areas of interest that he championed for four decades. The Maumoon Foundation is an apoliti- cal and not- for-profit charitable institution.
                    </p>
            
                    <p>Foundation considers to be within its remit all humani- tarian assistance for those in need. The Foundation taps the extensive intellectual resources of President Gayoom and fel- low world leaders, and encourages public sector and civil society partnerships in achieving the Foundation’s objectives.</p>
            
                    <p>The Foundation draws its strength from President Gayoom’s unprecedented record of delivery in transforming the Maldives from one of the five poorest countries on the planet in 1978 to the most affluent in the South Asian region. President Gayoom’s statesmanship, intellect and diplomatic skills are at the forefront of the Foundation’s success.</p>
            
                    <p>The Foundation’s programmes are funded solely through charitable donations and mutually beneficial sponsorship arrangements. The Foundation attaches the highest importance to transparency and full disclosure of its financial information and balance sheets, including grants and loan schemes.</p>
            <br>
</div>