<div class="animated fadeIn">
    <h1>Ihiyaa Programs</h1>

			<iframe class="col-md-12" height="450px" src="//www.youtube.com/embed/gdqTupCirTU" frameborder="0" allowfullscreen></iframe>
    
    <p><br>
				The Foundation held its First General Meeting on the 19th of May 2010. The first Executive Committee of the Foundation was elected during the meeting chaired by the Founder Member, President Gayoom.
			</p>
    
    <div class="row gallery-row">
        <div class="col-md-4 gallery-thumb">
                <a href="#/about/annual-general-meetings/gallery-1" data-toggle="modal" data-target="#gallery-1" >
                    <img class="img-responsive" src="assets/img/5.jpg">
                    <h4>Ihiyaa program A</h4>
                </a>
        </div>
        <div class="col-md-4 gallery-thumb">
                <a href="#/about/annual-general-meetings/gallery-1" data-toggle="modal" data-target="#gallery-1">
                    <img class="img-responsive" src="assets/img/4.jpg">
                    <h4>Ihiyaa program B</h4>
                </a>
        </div>
        <div class="col-md-4 gallery-thumb">
                <a href="#/about/annual-general-meetings/gallery-1" data-toggle="modal" data-target="#gallery-1">
                    <img class="img-responsive" src="assets/img/6.jpg">
                    <h4>Ihiyaa program C</h4>
                </a>
        </div>
    </div>
</div>

<div ui-view></div>