<div class="animated fadeIn">

            <h1>His Excellency Maumoon Abdul Gayoom</h1>
    <img class="img-responsive page-img" src="assets/img/maumoon.jpg">
                    <p>
                        President Maumoon Abdul Gayoom is, in both origin and style, very much a man of the people. A man of progressive thinking, President Gayoom’s governance has ushered in a hitherto unknown period of social and economic success for the nation.</p>
<p>Since his assumption of office, the Maldives has made important strides towards greater democracy in a manner which has preserved and enhanced the country’s spiritual and cultural heritage. Through ex- ecutive excellence and political foresight, President Gayoom has kept up the pace of change needed for a modern society by introducing and strengthening measures that ensured transparency and accountability
in the government bureaucracy.</p>
    
    <p>The outstanding success attained in President Gayoom’s political life has seen the historic milestone achieved in the recent political reform process he initiated – the introduction of a multi-party political system in the Maldives.</p>
    
    <p>President Gayoom has tirelessly strived to uplift the quality of life of the Maldives' people, advocating good governance, and opening up new horizons for national development.</p>

    <p></p>
    
</div>