<div class="animated fadeIn">

            <h1>Our Mission</h1>
    <img class="img-responsive page-img" src="assets/img/mission.jpg">
            <h2>“The Objectives of the Foundation are to work,
                on a voluntary basis in adherence with the tenets of Islam
                and governing laws of the Republic of Maldives,
                and in conformity with established international norms and regulations
                on the operation of such foundations,
                to enhance the love and devotion for Islam amongst Maldivians, increase religious awareness in the Maldives,
                to enhance the quality of education and healthcare,
                promote social welfare, sustainable development
                and environmental protection, gender equality, and security of small states, for the benefit of the people of the Republic of           Maldives.”
            </h2>
    
</div>