<div class="animated fadeIn">
    <h1>Publications</h1>

			<p>
				The Foundation’s first initiative was the publication of the Hajj and ‘Umrah Book – an intellectual property of President Gayoom that he gifted to TMF. The Ninth Print of a highly successful two-volume book, the ‘Hajj and
Umrah Book’ was launched by A similar publication aimed at assisting pilgrims to Makkah was released in early 2011
			</p>

    <p>TMF has a programme work- ing to release further mate- rial of high intellectual and academic value. Original works, translations and re- publications are all given priority.</p>
    <br>
    <div class="row">
        <div class="col-md-3">
            <a href="#/about/publications/book-1" data-toggle="modal" data-target="#gallery-1">
                <img class="img-responsive" src="assets/img/umrah.jpg">
            </a>
        </div>
        <div class="col-md-3">
            <a href="#/about/publications/book-1" data-toggle="modal" data-target="#gallery-1">
                <img class="img-responsive" src="assets/img/umrah.jpg">
            </a>
        </div>
        <div class="col-md-3">
            <a href="#/about/publications/book-1" data-toggle="modal" data-target="#gallery-1">
                <img class="img-responsive" src="assets/img/umrah.jpg">
            </a>
        </div>
        <div class="col-md-3">
            <a href="#/about/publications/book-1" data-toggle="modal" data-target="#gallery-1">
                <img class="img-responsive" src="assets/img/umrah.jpg">
            </a>
        </div>
    </div>
</div>

<div ui-view></div>