<div class="animated fadeIn">
    <h1>Scholarship Programmes</h1>
    <img class="img-responsive page-img" src="assets/img/schol.jpg">

    <h2>The Garden City College Scholarships</h2>
			<p>
				In 2010, TMF awarded scholarships to four Maldivian students to study at the Garden City College in Bangalore, India. The selection process was undertaken in a transparent manner by an independent scholarship panel consisting of ex- perts in the fields of study offered.
			</p>

    <p>The Foundation aims to provide similar opportunities annually, widening the areas of study as well as the range of foreign institutions. A further batch of nine scholars, scholarships in 2011, have recently commenced their studies at GCC.</p>
    
    <h3>Awarded to</h3>
    
    <ul class=" schol-list">
        <li>
            <h4>Aishath Ahmed</h4>
            <p>Master of Science in Nursing</p>
        </li>
        <li>
            <h4>Aishath Ahmed</h4>
            <p>Master of Science in Nursing</p>
        </li>
        <li>
            <h4>Aishath Ahmed</h4>
            <p>Master of Science in Nursing</p>
        </li>
    </ul>
    
    <h2>MIT Scholarships</h2>
    
    <p>
				In 2010, TMF awarded scholarships to four Maldivian students to study at the Garden City College in Bangalore, India. The selection process was undertaken in a transparent manner by an independent scholarship panel consisting of ex- perts in the fields of study offered.
			</p>
    
    <h3>Awarded to</h3>
    
    <ul class=" schol-list">
        <li>
            <h4>Ahmed mohamed</h4>
            <p>Master of Human-Computer Interaction</p>
        </li>
        <li>
            <h4>Ahmed mohamed</h4>
            <p>Master of Human-Computer Interaction</p>
        </li>
        <li>
            <h4>Ahmed mohamed</h4>
            <p>Master of Human-Computer Interaction</p>
        </li>
    </ul>
    
    <h2>Harvard University Scholarships</h2>
    
    <p>
				In 2010, TMF awarded scholarships to four Maldivian students to study at the Garden City College in Bangalore, India. The selection process was undertaken in a transparent manner by an independent scholarship panel consisting of ex- perts in the fields of study offered.
			</p>
    
    <h3>Awarded to</h3>
    
    <ul class=" schol-list">
        <li>
            <h4>Mohamed Ali</h4>
            <p>Master of Science in Information Science</p>
        </li>
        <li>
            <h4>Mohamed Ali</h4>
            <p>Master of Science in Information Science</p>
        </li>
        <li>
            <h4>Mohamed Ali</h4>
            <p>Master of Science in Information Science</p>
        </li>
    </ul>

</div>