<div class="col-md-3">
            <ul class="list-unstyled side-list">
                <li class="col-md-12">
                    <a href="#">Information</a>
                </li>
                <li class="col-md-12">
                    <a href="#">Scholarship Winners</a>
                </li>
                <li class="col-md-12">
                    <a href="#">Scholarships</a>
                </li>
                <li class="col-md-12">
                    <a href="#">Abouts Us</a>
                </li>
                <li class="col-md-12">
                    <a href="#">Abouts Us</a>
                </li>
            </ul>
        </div>

<div class="col-md-9" ui-view>
</div>