<div class="animated fadeIn">

            <h1>The Maumoon Foundation</h1>
    <img class="img-responsive page-img" src="assets/img/tmf.jpg">
                    <p>
                        The Maumoon Foundation (TMF) was set up on 26 January 2010 by the Former President of the Republic of Maldives, His Excellency Maumoon Abdul Gayoom, to fulfill his desire to utilize his resources, contacts and experience in improvinng the livelihoods of the Maldivian people. The Foundation’s programmes are driven by the vision of President Gayoom, and closely follow issue areas of interest that he championed for four decades. The Maumoon Foundation is an apolitical and not-for-profit charitable institution.
    
</div>