<div class="animated fadeIn">
    <h1>Visits</h1>
    <img class="img-responsive page-img" src="assets/img/agm.jpg">
			<p>
				The Foundation held its First General Meeting on the 19th of May 2010. The first Executive Committee of the Foundation was elected during the meeting chaired by the Founder Member, President Gayoom.
			</p>
    <div class="row gallery-row">
        <div class="col-md-4 gallery-thumb">
                <a href="#/about/annual-general-meetings/gallery-1" data-toggle="modal" data-target="#gallery-1" >
                    <img class="img-responsive" src="assets/img/5.jpg">
                    <h4>Visit to Maldives</h4>
                </a>
        </div>
        <div class="col-md-4 gallery-thumb">
                <a href="#/about/annual-general-meetings/gallery-1" data-toggle="modal" data-target="#gallery-1">
                    <img class="img-responsive" src="assets/img/4.jpg">
                    <h4>Visit to Male'</h4>
                </a>
        </div>
        <div class="col-md-4 gallery-thumb">
                <a href="#/about/annual-general-meetings/gallery-1" data-toggle="modal" data-target="#gallery-1">
                    <img class="img-responsive" src="assets/img/6.jpg">
                    <h4>Visit to Henveiru</h4>
                </a>
        </div>
    </div>
</div>

<div ui-view></div>