<!-- Modal -->
<div class="modal fade" id="gallery-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">The Hajj and Umrah Book</h4>
      </div>
      <div class="modal-body">
        <p>The Foundation’s first initiative was the publication of the Hajj and ‘Umrah Book – an intellectual property of President Gayoom that he gifted to TMF. The Ninth Print of a highly successful two-volume book, the ‘Hajj and
Umrah Book’ was launched by A similar publication aimed at assisting pilgrims to Makkah was released in early 2011</p>
      </div>
    </div>
  </div>
</div>