<div class="board-page animated fadeIn">
    <h1>Board of Trustees</h1>

    <ul class="list-unstyled board-list row">
        
        <li class="col-md-6" ng-repeat="member in members">
            <img class="col-md-4" ng-src="/application/public/uploads/{{member.gallery.images[0].file}}.{{member.gallery.images[0].extention}}">
            <h3 ng-bind-html="member.name"> </h3>
            <h4 ng-bind-html="member.description"></h4>
        </li>
        
    </ul>
    
    <div class="row">
        <h5>The foundation will look to invite further prominent global figures to be involved in the TMF as Trustees. The Board of Trustees will comprise of eminent persons from a broad range of sectors including former heads of state and international organisations, renowned academics, intellectuals and industry leaders.</h5>
    
        <h5></h5>
    </div>
</div>