<div class="animated fadeIn">
    <h1>Executive Committee</h1>

<ul class="list-unstyled board-list row">

    <li class="col-md-6" ng-repeat="member in members">
        <img class="col-md-4" ng-src="/application/public/uploads/{{member.gallery.images[0].file}}.{{member.gallery.images[0].extention}}">
        <h3 ng-bind-html="member.name"> </h3>
        <h4 ng-bind-html="member.description"></h4>
    </li>
    
<!--    
    
    <li class="col-md-6">
        <img class="col-md-4" src="assets/img/execs/maumoon.jpg">
        <h3>HE Maumoon Abdul Gayoom </h3>
        <h4>Chairman</h4>
    </li>
    <li class="col-md-6">
        <img class="col-md-4" src="assets/img/execs/faris.jpg">
        <h3>Mr. Faris Maumoon</h3>
        <h4>Vice Chairman</h4>
    </li>
    <li class="col-md-6">
        <img class="col-md-4" src="assets/img/execs/mundhu.jpg">
        <h3>Mr. Mohamed Hussain Shareef</h3>
        <h4>General Secretary</h4>
    </li>
    <li class="col-md-6">
        <img class="col-md-4" src="assets/img/execs/abbas.jpg">
        <h3>Mr. Abbas Ibrahim</h3>
        <h4>Secretary</h4>
    </li>
    <li class="col-md-6">
        <img class="col-md-4" src="assets/img/execs/adam.jpg">
        <h3>Mr. Adam Naeem</h3>
        <h4>Treasurer</h4>
    </li>
    <li class="col-md-6">
        <img class="col-md-4" src="assets/img/execs/mohamedrasheed.jpg">
        <h3>Shk. Mohamed Rasheed Ibrahim</h3>
    </li>
    <li class="col-md-6">
        <img class="col-md-4" src="assets/img/execs/drahmedshareef.jpg">
        <h3>Dr. Ahmed Shareef</h3>
    </li>
    <li class="col-md-6">
        <img class="col-md-4" src="assets/img/execs/draishath.jpg">
        <h3>Dr. Aishath Shiham</h3>
    </li>
    <li class="col-md-6">
        <img class="col-md-4" src="assets/img/execs/dunya.jpg">
        <h3>Ms Dunya Maumoon</h3>
    </li>
    <li class="col-md-6">
        <img class="col-md-4" src="assets/img/execs/yumna.jpg">
        <h3>Ms Yumna Maumoon</h3>
    </li>
    <li class="col-md-6">
        <img class="col-md-4" src="assets/img/execs/ghassan.jpg">
        <h3>Mr. Mohamed Ghassan Maumoon</h3>
    </li>-->
</ul>
</div>