<section class="container">
	<div class="row page-row">
        <div class="sub-page">
        <div class="col-md-3">
            <ul class="list-unstyled side-list list-group">
                <li class="col-md-12">
                    <a class="list-group-item" href="#/office/executive-committee">Executive Committee</a>
                </li>
                <li class="col-md-12 hide">
                    <a class="list-group-item" href="#/office/office-bearers">Office Bearers</a>
                </li>
                <li class="col-md-12">
                    <a class="list-group-item" href="#/office/board-of-trustees">Board of Trustees</a>
                </li>
            </ul>
        </div>
		<div class="animated fadeIn col-md-9" id="page" ui-view>
			
		</div>
        </div>
	</div> 
</section>