<section class="container">
	<div class="row page-row">
        <div class="sub-page">
        <div class="col-md-3">
            <ul class="list-unstyled side-list list-group">
                <li class="col-md-12">
                    <a class="list-group-item"  href="#/areas/islam">The President</a>
                </li>
                <li class="col-md-12">
                    <a class="list-group-item" href="#/areas/education">Founder Chairperson</a>
                </li>
                <li class="col-md-12">
                    <a class="list-group-item" href="#/areas/social">Founder Vice Chairperson</a>
                </li>
                <li class="col-md-12">
                    <a class="list-group-item" href="#/areas/environment">General Secretary</a>
                </li>
                <li class="col-md-12">
                    <a class="list-group-item" href="#/areas/environment">Treasurer</a>
                </li>
                <li class="col-md-12">
                    <a class="list-group-item" href="#/areas/environment">Secretary</a>
                </li>
            </ul>
        </div>
		<div class="animated fadeIn col-md-9" id="page" ui-view>
			
		</div>
        </div>
	</div> 
</section>