
<h2 class="col-md-12 animated fadeIn speed-slow">Key Milestones of 1981</h2>

<ul class="list-unstyled row animated fadeIn speed-slower" id="history-list">
					<li class="col-md-4">
						<div class="history-item">
							<h4>February 5</h4>
							<p>The Clinton Foundation has been investing in green energy in Haiti to boost Haiti’s recovery, recognizing that providing efficient renewable energy</p>
						</div>
					</li>
					<li class="col-md-4">
						<div class="history-item">
							<h4>March 31</h4>
							<p>The Clinton Foundation has been investing in green energy in Haiti to boost Haiti’s recovery, recognizing that providing efficient renewable energy</p>
						</div>
					</li>
					<li class="col-md-4">
						<div class="history-item">
							<h4>August 4</h4>
							<p>The Clinton Foundation has been investing in green energy in Haiti to boost Haiti’s recovery, recognizing that providing efficient renewable energy</p>
						</div>
					</li>
					<li class="col-md-4">
						<div class="history-item">
							<h4>September 21</h4>
							<p>The Clinton Foundation has been investing in green energy in Haiti to boost Haiti’s recovery, recognizing that providing efficient renewable energy</p>
						</div>
					</li>
				</ul>