
<h2 class="col-md-12 animated fadeIn speed-slow">Key Milestones of 1985</h2>

<ul class="list-unstyled row animated fadeIn speed-slower" id="history-list">
					<li class="col-md-4">
						<div class="history-item">
							<h4>January 4</h4>
							<p>The Clinton Foundation has been investing in green energy in Haiti to boost Haiti’s recovery, recognizing that providing efficient renewable energy</p>
						</div>
					</li>
					<li class="col-md-4">
						<div class="history-item">
							<h4>February 3</h4>
							<p>The Clinton Foundation has been investing in green energy in Haiti to boost Haiti’s recovery, recognizing that providing efficient renewable energy</p>
						</div>
					</li>
					<li class="col-md-4">
						<div class="history-item">
							<h4>March 4</h4>
							<p>The Clinton Foundation has been investing in green energy in Haiti to boost Haiti’s recovery, recognizing that providing efficient renewable energy</p>
						</div>
					</li>
					<li class="col-md-4">
						<div class="history-item">
							<h4>April 5</h4>
							<p>The Clinton Foundation has been investing in green energy in Haiti to boost Haiti’s recovery, recognizing that providing efficient renewable energy</p>
						</div>
					</li>
					<li class="col-md-4">
						<div class="history-item">
							<h4>May 6</h4>
							<p>The Clinton Foundation has been investing in green energy in Haiti to boost Haiti’s recovery, recognizing that providing efficient renewable energy</p>
						</div>
					</li>
					<li class="col-md-4">
						<div class="history-item">
							<h4>June 7</h4>
							<p>The Clinton Foundation has been investing in green energy in Haiti to boost Haiti’s recovery, recognizing that providing efficient renewable energy</p>
						</div>
					</li>
				</ul>