/* line 7, ../sass/lightbox.sass */
body {
}

.schol-list {
    margin-top: 1.5em;
}

.schol-list p {
    margin-top: 0;
}

.schol-list h4 {
    margin-bottom: 0.3em;
}

.h1-margin {
    margin-top: 0.25em!important;
}

.modal-content {
    border-radius: 0;
}

.fa {
    font-size: 4em;
    letter-spacing: 0.1em;
    margin-left: 0.7em;
    margin-top: 0.1em;
}

.center a {
    color: #666;
}

.center a:hover {
    color: #333;
}

.center {
    margin-top: 0.5em;
    text-align: center;
}

.board-list {
    padding-top: 0.4em;
}

.board-list li {
    margin-bottom: 1em;
}

.board-list h3 {
    margin-top: 0em;
    font-size: 1.4em;
    line-height: 1em;
}

.board-list h4 {
    font-size: 1em;
}

.board-page h5 {
    font-weight: 200;
    line-height: 1.5em;
    margin-top: 0;
}

.divider-block {
    display: block;
    border-bottom: 1px solid #eee;
    margin-top: 1.5em;
    margin-bottom: .5em;
}

.page-img {
    margin-bottom: 2em;
}

.carousel .item {
    left: 0 !important;
      -webkit-transition: opacity .4s; /*adjust timing here */
         -moz-transition: opacity .4s;
           -o-transition: opacity .4s;
              transition: opacity .4s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
}

#twitter-widget-0, #twitter-widget-1 {
    width: 100%;
    max-width: 200%;
}

#twitter-widget-0 . root.timeline {
    border-radius: 0!important;
}

#program-areas-block {
    margin-top: 2em;
}

#program-areas-block img {
    margin: auto;
}

#program-areas-block h4 {
    line-height: 1.5em;
}

.container-fluid {
    text-align: center;
    padding: 0 2em;
}

body:after {
  content: url(../assets/img/close.png) url(../assets/img/loading.gif) url(../assets/img/prev.png) url(../assets/img/next.png);
  display: none;
}

#area-row h1 {
    margin-bottom: 0.7em;
}

.area-row h1 {
    margin-bottom: 0.4em;
}

#area-row h4 {
    line-height: 1.5em;
}

.page-row {
    margin-top: 10.6em;
    padding-top: 1em;
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .page-row {
        margin-top: 18.6em;
        padding-top: 1em;
    }
}

.sub-page {
    margin-top: 1.1em;
}

.page-row h1 {
    margin-top: 0;
    line-height: 1.2em;
}

#sub-nav .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background: rgba(255,255,255,.2);
}

#nav-container {
    z-index: 1000;
    width: 100%;
    position: absolute;
}

/* line 11, ../sass/lightbox.sass */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 20, ../sass/lightbox.sass */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
/* line 28, ../sass/lightbox.sass */
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 33, ../sass/lightbox.sass */
.lightbox a img {
  border: none;
}

/* line 36, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 45, ../sass/lightbox.sass */
.lb-container {
  padding: 4px;
}

/* line 48, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 57, ../sass/lightbox.sass */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../assets/img/loading.gif) no-repeat;
}

/* line 64, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 72, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 75, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 78, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
}

/* line 85, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
/* line 90, ../sass/lightbox.sass */
.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  background: url(../assets/img/prev.png) left 48% no-repeat;
}

/* line 94, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
/* line 99, ../sass/lightbox.sass */
.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  background: url(../assets/img/next.png) right 48% no-repeat;
}

/* line 103, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 110, ../sass/lightbox.sass */
.lb-data {
  padding: 0 4px;
  color: #bbbbbb;
}
/* line 113, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 118, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 122, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
/* line 128, ../sass/lightbox.sass */
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../assets/img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
/* line 138, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


body {
	color: #636466;
}

.btn {
	border-radius: 0;
}

#photo-list li {
	margin-top: 2em;
}

#photo-list img {
	min-height: 115px;
}

#main-nav {
	border-radius: 0;
	margin-bottom: 0px;
	border: none;
}

#nav-menu {
	text-transform: uppercase;
	font-size: 12px;
}

#nav-menu a {
	padding-top: 20px;
	color: #666;
}

#subnav-container {
	background: rgba(111, 170, 68, 0.8);
	padding-bottom: 21px;
	padding-top: 25px;
}

#quote {
	text-align: center;
}

#sub-nav-list, #sub-nav-list li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#sub-nav .dropdown-menu {
    background: #89BD60;
    box-shadow: none;
    border: none;
}

#sub-nav .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background: none;
}

#sub-nav a {
	color: white;
	font-family: 'Open Sans';
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
}

#mCarousel {
	max-height: 500px;
	overflow: hidden;
    padding-top: 0;
    margin-bottom: .6em;
	border-top: none;
}

#logo {
	width: 200px;
}

.gallery-row {
    margin-top: 2em;
}

.gallery-row img {
    height: 160px;
}

.gallery-thumb {
    text-align: center;
}

.gallery-thumb a {
    text-decoration: none;
    font-weight: 200;
    color: #666;
}

.gallery-thumb a:hover {
    color: #333;
}

.modal-gallery {
    margin-top: 1.5em;
}

.modal-gallery li {
    margin-bottom: 2em;
}

.modal-gallery img {
    height: 100px;
}

h1 {
	color: #636466;
	font-family: 'Open Sans';
	font-size: 3em;
	font-weight: 300;
}

h3 {
	color: #949595;
	font-weight: 200;
	font-size: 1.5em;
	line-height: 30px;
}

footer {
	background: whiteSmoke;
	padding: 30px 0;
	margin-top: 4em;
}

.footer-list li {
	margin-bottom: 5px;
}

.footer-list a {
	color: #636466;
	font-weight: 200;
}

.footer-list li:first-child a {
	text-transform: uppercase;
	font-family: 'Open Sans';
	font-weight: 600;
}

#newsletter-block {
	background: whiteSmoke;
	margin-top: 15px;
}

#newsletter-input-container {
	padding: 25px;
	padding-top: 10px;
}

#newsletter-input {
	padding: 10px;
	border: 2px solid #eee;
}

#newsletter-block h3 {
	font-weight: 400;
	font-size: 18px;
	color: #636466;
	text-transform: uppercase;
	margin-bottom: 0px;
}

#newsletter-submit-btn {
	border-radius: 0;
	margin-top: 1px;
	padding: 10px;
	border: 1px solid #428BCA;
}

h2 {
	color: #949595;
	font-weight: 200;
}

h4 {
	font-family: 'Open Sans';
	margin-bottom: 1em;
}

#privacy p {
	margin-bottom: 1.3em;
}

#page h1 {
	margin-bottom: 25px;
}

#page p {
	color: #949595;
	font-weight: 200;
}

#history-list {
	margin-left: -8px;
}

.history-item {
	margin: 10px;
	padding: 15px;
	height: 150px;
	border: 2px solid whiteSmoke;
	transition: width 2s, height 2s, transform 2s;
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
}

#history-list li {
	transition: width 2s, height 2s, transform 2s;
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
}

.history-item h4 {
	font-weight: 400;
	margin: 0!important;
	margin-bottom: 15px!important;
}

.activity-item {
	margin: 10px;
	margin-bottom: 20px;
}

.activity-item a {
	font-size: 10px;
}

.activity-item time {
	color: #949595;
	font-style: italic;
	font-weight: 200;
	font-size: 12px;
}

.activity-item h4 {
	font-weight: 400;
	margin: 0!important;
	margin-bottom: 15px!important;
}

.slider {
	width: 100%!important;
}

.slider .slider-handle {
	background: none;
	width: 0!important; 
	height: 0!important; 
	border-left: 10px solid transparent!important;
	border-right: 10px solid transparent!important;
	border-top: 30px solid #7FA551!important;
}

.slider-selection {
	background: none!important;
	box-shadow: none!important;
	border-top: 2px solid whiteSmoke!important;
	border-radius: 0!important;
}

.slider-track {
	background: none!important;
	border-top: 1px solid #eee!important;
	box-shadow: none!important;
	border-radius: 0!important;
}

#slider-container {
	padding-left: 7px;
}

#slider-container .tooltip-inner {
	padding: 10px;
	font-size: 18px;
}

#history-display {
	margin-top: 15px;
}

#history-display h2 {
	margin-bottom: 20px;
}

.speed-slow {
	-moz-animation-duration: .1s;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

.speed-slower {
	-moz-animation-duration: .2s;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

#gallery-list .col-md-4 {
	padding: 0;
}

#gallery-list a:hover {
	text-decoration: none;
}

#gallery-list .details h4 {
	color: white;
	font-weight: 200;
	margin-bottom: 20px;
	margin-top: 15px;
	margin-left: 15px;
}

#gallery-list .details p {
	color: white;
	margin-left: 10px;
}

.contact-form-block input, .contact-form-block textarea {
	display: block;
	margin-bottom: 1em;
	background: whiteSmoke;
	padding: 1em;
}

.contact-form-block label {
	display: block;
	font-weight: 400;
	font-size: 1.3em;
	margin-bottom: 1em;
}

#sub-nav .dropdown-menu a {
    font-size: 1em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

#sub-nav .dropdown-menu li {
    
}

#sub-nav .navbar {
    margin: 0;
}

#sub-nav .navbar-default {
    background: none;
    border: none;
}

.big-drop {
    width: 600px;
}

.side-list li {
    border-bottom: 1px solid whiteSmoke;
    padding-bottom: 1em;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    padding: 0;
}

.side-list.list-group li:first-child {
    margin-top: 0;
}

.side-list .list-group-item {
    border: none;
    border-radius: 0;
}

.side-list a {
    padding-left: 1em;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: 200;
}