<section class="container">
	<div class="row page-row">
        <div class="sub-page">
        <div class="col-md-3">
            <ul class="list-unstyled side-list list-group">
                <li class="col-md-12">
                    <a class="list-group-item" href="#/about/tmf">The Maumoon Foundation</a>
                </li>
                <li class="col-md-12">
                    <a class="list-group-item" href="#/about/mission">Our Mission</a>
                </li>
                <li class="col-md-12">
                    <a class="list-group-item" href="#/about/constitution">The Constitution</a>
                </li>
                <li class="col-md-12">
                    <a class="list-group-item" href="#/about/maumoon">Maumoon Abdul Gayoom</a>
                </li>
                <li class="col-md-12">
                    <a class="list-group-item" href="#/about/annual-general-meetings">Annual General Meetings</a>
                </li>
                <li class="col-md-12">
                    <a class="list-group-item" href="#/about/scholarships">Scholarships</a>
                </li>
                <li class="col-md-12">
                    <a class="list-group-item" href="#/about/ihiyaa-programs">Ihiyaa Programs</a>
                </li>
                <li class="col-md-12">
                    <a class="list-group-item" href="#/about/publications">Publications</a>
                </li>
                <li class="col-md-12">
                    <a class="list-group-item" href="#/about/visits">Visits</a>
                </li>
            </ul>
        </div>
		<div class="animated fadeIn col-md-9" id="page" ui-view>
			
		</div>
        </div>
	</div> 
</section>