<section class="container">
	<div class="row page-row">
		<div class="col-md-12 animated fadeIn" id="page">
			<h1>Activities</h1>
			<div class="row">
				<ul class="list-unstyled row" id="activity-list">
					<li class="col-md-6">
						<div class="activity-item">
							<h4>Powering Haiti with Clean Energy</h4>
							<time>Thursday, January 13 2014</time>
							<p>The Clinton Foundation has been investing in green energy in Haiti to boost Haiti’s recovery, recognizing that providing efficient renewable energy <a href="#">Read more</a></p>
						</div>
					</li>
					<li class="col-md-6">
						<div class="activity-item">
							<h4>More than one-third of worldwide energy is consumed in buildings</h4>
							<time>Thursday, January 13 2014</time>
							<p>The Clinton Foundation has been investing in green energy in Haiti to boost Haiti’s recovery, recognizing that providing efficient renewable energy <a href="#">Read more</a></p>
						</div>
					</li>
					<li class="col-md-6">
						<div class="activity-item">
							<h4>Trees of Hope Project</h4>
							<time>Thursday, January 13 2014</time>
							<p>The Clinton Foundation has been investing in green energy in Haiti to boost Haiti’s recovery, recognizing that providing efficient renewable energy <a href="#">Read more</a></p>
						</div>
					</li>
					<li class="col-md-6">
						<div class="activity-item">
							<h4>January</h4>
							<time>Thursday, January 13 2014</time>
							<p>The Clinton Foundation has been investing in green energy in Haiti to boost Haiti’s recovery, recognizing that providing efficient renewable energy <a href="#">Read more</a></p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div> 
</section>