<section class="container">
	<div class="row page-row">
        <div class="sub-page">
        <div class="col-md-3">
            <ul class="list-unstyled side-list list-group">
                <li class="col-md-12">
                    <a class="list-group-item"  href="#/areas/islam">Promoting Islam as a Religion of Toleration</a>
                </li>
                <li class="col-md-12">
                    <a class="list-group-item" href="#/areas/education">Enhance Qualityof Education and Healthcare</a>
                </li>
                <li class="col-md-12">
                    <a class="list-group-item" href="#/areas/social">Promote Social Welfare, Sustainable Development and Gender Equality</a>
                </li>
                <li class="col-md-12">
                    <a class="list-group-item" href="#/areas/environment">Environmental Protection and Security of Small States</a>
                </li>
            </ul>
        </div>
		<div class="animated fadeIn col-md-9" id="page" ui-view>
			
		</div>
        </div>
	</div> 
</section>