<section class="container">
	<div class="page-row">
		<div class="col-md-12 animated fadeIn" id="page">
			<div class="col-md-3">
				<h2>Address</h2>
					<p>Adam Mohamed</p>
					<p>Press Secretary</p>

					<p>For all press requests, please email <a href="#">press@maumoonfoundation.org</a></p>
			</div>
			<div class="col-md-9">
				<h1 class="h1-margin">Contact</h1>
				<div class="">
					<form>
						<div class="contact-form-block">
							<label for="name">Name</label>
							<input class="col-md-12" type="text" name="name">
						</div>
						<div class="contact-form-block">
							<label for="email">Email</label>
							<input class="col-md-12" type="text" name="email">
						</div>
						<div class="contact-form-block">
							<label for="subject">Subject</label>
							<input class="col-md-12" type="text" name="subject">
						</div>
						<div class="contact-form-block">
							<label for="message">Message</label>
							<textarea rows="6" class="col-md-12" type="text" name="message"></textarea>
						</div>
						<div class="contact-form-block">
							<a href="#" class="btn btn-block btn-primary btn-lg">Submit</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div> 
</section>