<section class="container-fluid animated fadeInUpBig speed1" id="explorer">
	<header class="row" id="main-header">
		<div class="container">
			<div class="col-md-12" id="top-header">
				<img src="assets/img/logo.png">
			</div>
			<br class="clear">
		</div>
	</header>
	<nav id="black-nav">
		<ul class="list-unstyled container">
			<li><a href="#/" id="home-btn"><i class="icon-chevron-left"></i></a></li>
			<li><a href="#">Destinations</a></li>
			<li><a href="#">Things to do</a></li>
			<li><a href="#">Facts about Maldives</a></li>
			<li><a href="#">Getting here</a></li>
			<li><a href="#">Getting around</a></li>
			<br class="clear">
		</ul>
	</nav>
	<div class="row" ui-view></div>
</section>