<section class="container">
	<div class="">
		<div class="col-md-12 animated fadeIn" id="page">
			<div class="col-md-3">
				<h2>1978 - 1979</h2>
					<p>For all press requests, please email</p>
			</div>
			<div class="col-md-9">
				<ul id="photo-list" class="list-unstyled">
					<li class="col-md-3">
						<a href="assets/img/1.jpg" data-lightbox="m-gallery">
							<img class="img-responsive" src="assets/img/1.jpg">
						</a>
					</li>
					<li class="col-md-3">
						<a href="assets/img/2.jpg" data-lightbox="m-gallery">
							<img class="img-responsive" src="assets/img/2.jpg">
						</a>
					</li>
					<li class="col-md-3">
						<a href="assets/img/3.jpg" data-lightbox="m-gallery">
							<img class="img-responsive" src="assets/img/3.jpg">
						</a>
					</li>
					<li class="col-md-3">
						<a href="assets/img/4.jpg" data-lightbox="m-gallery">
							<img class="img-responsive" src="assets/img/4.jpg">
						</a>
					</li>
					<li class="col-md-3">
						<a href="assets/img/1.jpg" data-lightbox="m-gallery">
							<img class="img-responsive" src="assets/img/1.jpg">
						</a>
					</li>
					<li class="col-md-3">
						<a href="assets/img/2.jpg" data-lightbox="m-gallery">
							<img class="img-responsive" src="assets/img/2.jpg">
						</a>
					</li>
					<li class="col-md-3">
						<a href="assets/img/3.jpg" data-lightbox="m-gallery">
							<img class="img-responsive" src="assets/img/3.jpg">
						</a>
					</li>
					<li class="col-md-3">
						<a href="assets/img/4.jpg" data-lightbox="m-gallery">
							<img class="img-responsive" src="assets/img/4.jpg">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>