<section class="container">
	<div class="row">
		<div class="col-md-12 animated fadeIn" id="page">
			<h1>Galleries</h1>
			<div id="gallery-list">
				<div class="mosaic-block bar2 col-md-4">
					<a href="#/gallery-detail" class="mosaic-overlay">
						<div class="details">
							<h4>1978 - 1979</h4>
							<p>via the Nonsense Society (photo credit: Dan Deroches)</p>
						</div>
					</a>
					<div class="mosaic-backdrop"><img class="img-responsive" src="assets/img/1.jpg"/></div>
				</div>

				<div class="mosaic-block bar2 col-md-4">
					<a href="#/gallery-detail" class="mosaic-overlay">
						<div class="details">
							<h4>1980 - 1982</h4>
							<p>via the Nonsense Society (photo credit: Dan Deroches)</p>
						</div>
					</a>
					<div class="mosaic-backdrop"><img class="img-responsive" src="assets/img/2.jpg"/></div>
				</div>

				<div class="mosaic-block bar2 col-md-4">
					<a href="#/gallery-detail" class="mosaic-overlay">
						<div class="details">
							<h4>1983 - 1984</h4>
							<p>via the Nonsense Society (photo credit: Dan Deroches)</p>
						</div>
					</a>
					<div class="mosaic-backdrop"><img class="img-responsive" src="assets/img/3.jpg"/></div>
				</div>

				<div class="mosaic-block bar2 col-md-4">
					<a href="#/gallery-detail" class="mosaic-overlay">
						<div class="details">
							<h4>1978 - 1979</h4>
							<p>via the Nonsense Society (photo credit: Dan Deroches)</p>
						</div>
					</a>
					<div class="mosaic-backdrop"><img class="img-responsive" src="assets/img/4.jpg"/></div>
				</div>

				<div class="mosaic-block bar2 col-md-4">
					<a href="#/gallery-detail" class="mosaic-overlay">
						<div class="details">
							<h4>1980 - 1982</h4>
							<p>via the Nonsense Society (photo credit: Dan Deroches)</p>
						</div>
					</a>
					<div class="mosaic-backdrop"><img class="img-responsive" src="assets/img/5.jpg"/></div>
				</div>

				<div class="mosaic-block bar2 col-md-4">
					<a href="#/gallery-detail" class="mosaic-overlay">
						<div class="details">
							<h4>1983 - 1984</h4>
							<p>via the Nonsense Society (photo credit: Dan Deroches)</p>
						</div>
					</a>
					<div class="mosaic-backdrop"><img class="img-responsive" src="assets/img/6.jpg"/></div>
				</div>
			</div>
		</div>
	</div> 
</section>