<section class="container">
	<div class="row animated fadeIn">
		<div class="col-md-12" id="page">
			<h1>History</h1>
			<div id="slider-container">
				<input id="history-slider" type="text" class="slider" value="" data-slider-min="1978" data-slider-max="1985" data-slider-step="1" data-slider-value="-14" data-slider-orientation="horizontal" data-slider-selection="after"data-slider-tooltip="show">
			</div>
			<div id="history-display" class="row" ui-view>
			</div>
		</div>
	</div> 
</section>