<div class="animated fadeIn">
    <div class="container">
    </div>
<div id="mCarousel" class="carousel slide page-row" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#mCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mCarousel" data-slide-to="1"></li>
            <li data-target="#mCarousel" data-slide-to="2"></li>
          </ol>
    
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="assets/img/home.jpg">
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <img src="assets/img/home2.jpg">
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <img src="assets/img/home3.jpg">
              <div class="carousel-caption">
              </div>
            </div>
          </div>
    
          <!-- Controls -->
          <a class="left carousel-control" href="#mCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#mCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
        
<div class="animated fadeIn">
	<section class="container" id="quote">
		<h1>The Maumoon Foundation</h1>
		<h3>
	       The Maumoon Foundation (TMF) was set up on 26 January 2010 by the Former President of the Republic of Maldives, His Excellency Maumoon Abdul Gayoom, to fulfill his desire to utilize his resources, contacts and experience in improving the livelihoods of the Maldiv- ian people. The Foundation’s programmes are driven by the vision of President Gayoom, and closely follow issue areas of interest that he championed for four decades. The Maumoon Foundation is an apoliti- cal and not- for-profit charitable institution.
	    </h3>
    </section>
    <span class="divider-block"></span>
    <div class="container-fluid">
            <div class="row area-row">
                <div class="col-md-12">
                    <h1>Announcements</h1>
                    <ul class="list-unstyled container">
                        <li>
                            <h4>New Scholarships announced</h4>
                            <p>In 2010, TMF awarded scholarships to four Maldivian students to study at the Garden City College in Bangalore, India. The selection process was undertaken in a transparent manner by an independent scholarship panel consisting of ex- perts in the fields of study offered. <a href="#">More Information</a>

 </p>
                        </li>
                        <li>
                            <h4>New Scholarships announced</h4>
                            <p>In 2010, TMF awarded scholarships to four Maldivian students to study at the Garden City College in Bangalore, India. The selection process was undertaken in a transparent manner by an independent scholarship panel consisting of ex- perts in the fields of study offered. <a href="#">More Information</a>

 </p>
                        </li>
                    </ul>
                </div>
            </div>
        <span class="divider-block"></span>
        <div class="row">
                <h1>Programme Areas</h1>
                <div id="program-areas-block">
                    <div class="col-md-3">
                        <img class="img-responsive" src="assets/img/h1.jpg">
                        <h4><a href="#/areas/islam">Promoting Islam as a Religion of Toleration</a></h4>
                    </div>
                    <div class="col-md-3">
                        <img class="img-responsive" src="assets/img/h2.jpg">
                        <h4><a href="#/areas/education">Enhance Quality of Education and Healthcare</a></h4>
                    </div>
                    <div class="col-md-3">
                        <img class="img-responsive" src="assets/img/h3.jpg">
                        <h4><a href="#/areas/social">Promote Social Welfare, Sustainable Development and Gender Equality</a></h4>
                    </div>
                    <div class="col-md-3">
                        <img class="img-responsive" src="assets/img/h4.jpg">
                        <h4><a href="#/areas/environment">Environmental Protection and Security of Small States</a></h4>
                    </div>
                </div>
            </div>
            <div class="row hide area-row">
                <div class="col-md-12">
                    <h1>Events</h1>
                    TMF Twitter Feed
                </div>
            </div>
            <span class="divider-block"></span>
            <div class="row" id="area-row">
                <h1>Twitter</h1>
                <div class="col-md-6">
                    <a class="twitter-timeline"  href="https://twitter.com/maumoonagayoom"  data-widget-id="430808882382778368">Tweets by @maumoonagayoom</a>
    <script></script>
                </div>
                <div class="col-md-6">
                    <a class="twitter-timeline"  href="https://twitter.com/maumoonagayoom"  data-widget-id="430811311484575744">Tweets by @maumoonagayoom</a>
                </div>
            </div>
            <br>
            <span class="divider-block"></span>
            <div class="row" id="area-row">
                <h1>Follow TMF</h1>
                <div class="center">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>

	    <div class="row hide">
	    	<div id="newsletter-block" class="col-md-6 col-md-offset-3">
	    		<h3>Subscribe to our newsletter</h3>
	    		<div id="newsletter-input-container" class="row">
	    			<input id="newsletter-input" placeholder="Enter your email address" class="col-md-10" type="text">
	    			<button id="newsletter-submit-btn" class="btn col-md-2 btn-primary">Submit</button>
	    		</div>
	    	</div>
		</div>
    </div>
</div>