<section class="container">
	<div class="page-row">
		<div class="col-md-12 animated fadeIn" id="page">
			<div class="col-md-3">
				<h2>Contact Press</h2>
					<p>Adam Mohamed</p>
					<p>Press Secretary</p>

					<p>For all press requests, please email <a href="#">press@maumoonfoundation.org</a></p>
			</div>
			<div class="col-md-9">
				<h1 class="h1-margin">Press Releases</h1>
			<div class="">
				<ul class="list-unstyled row" id="activity-list">
					<li class="col-md-12">
						<div class="activity-item">
							<h4>Powering Haiti with Clean Energy</h4>
							<time>Thursday, January 13 2014</time>
							<p>The Clinton Foundation has been investing in green energy in Haiti to boost Haiti’s recovery, recognizing that providing efficient renewable energy <a href="#">Read more</a></p>
						</div>
					</li>
					<li class="col-md-12">
						<div class="activity-item">
							<h4>More than one-third of worldwide energy is consumed in buildings</h4>
							<time>Thursday, January 13 2014</time>
							<p>The Clinton Foundation has been investing in green energy in Haiti to boost Haiti’s recovery, recognizing that providing efficient renewable energy <a href="#">Read more</a></p>
						</div>
					</li>
					<li class="col-md-12">
						<div class="activity-item">
							<h4>Trees of Hope Project</h4>
							<time>Thursday, January 13 2014</time>
							<p>The Clinton Foundation has been investing in green energy in Haiti to boost Haiti’s recovery, recognizing that providing efficient renewable energy <a href="#">Read more</a></p>
						</div>
					</li>
					<li class="col-md-12">
						<div class="activity-item">
							<h4>January</h4>
							<time>Thursday, January 13 2014</time>
							<p>The Clinton Foundation has been investing in green energy in Haiti to boost Haiti’s recovery, recognizing that providing efficient renewable energy <a href="#">Read more</a></p>
						</div>
					</li>
				</ul>
			</div>
			</div>
		</div>
	</div> 
</section>