<section class="container">
	<div class="row">
		<div class="col-md-12 animated fadeIn" id="page">
			<div class="col-md-12">
				<h1>Privacy Policy</h1>
				<div id="privacy">
					<h4>Corrections/Updates</h4>

					<p>This Site gives users the opportunity to change any information previously provided to us through this Site. To do so, please send us an e-mail through our Contact Page.</p>

					<h4>Transfer of Business Assets</h4>

					<p>At any time, this Site’s host may be acquired, merge with another business, or acquire or buy other businesses or assets. In such transactions, both General and Personal Information will likely be among the transferred assets.</p>

					<h4>Cookies</h4>

					<p>The Site may use “cookies,” a small string of text stored by a web browser on the user’s computer, to determine whether you have visited our Site previously. Cookies also allow the Foundation to measure activity on the Site and to improve your user experience, by, for example, remembering your passwords and viewing preferences and allowing you to visit any member-only parts of the Site without re-registering. Cookies cannot retrieve any other data from a hard drive or obtain an e-mail address. Although a user has the ability to modify most browsers to either accept all cookies, notify the user when a cookie is sent, or reject all cookies, it may not be possible to use certain services on this Site if cookies are not accepted.</p>

					<h4>Links</h4>

					<p>This Site contains links to other sites. We are not responsible for the privacy practices of or the contents on any other websites. We encourage you to review the privacy policy and any other online policies of other websites that you link to, visit, and/or use.</p>

					<h4>Children</h4>

					<p>The Site does not seek to collect any information from children. If a child provides us with information, the parent or guardian may notify us, and the information will be deleted from our records.</p>

					<h4>Security</h4>

					<p>While there is no such thing as “perfect” security on the Internet, we take reasonable steps to ensure the safety of your personal information. This Site has security measures in place to protect loss, misuse, and/or alteration of such information under our control. However, we do not guarantee the security of your General or Personal Information. In addition, we do not assume any liability for third party use of your General or Personal Information, whether obtained legally or illegally from or through this Site.</p>

					<h4>Contacting Us</h4>

					<p>If you have any questions about this Privacy Policy, or any other provision of our Terms of Use, please send us a message through our Contact Page.</p>
				</div>
			</div>
		</div>
	</div> 
</section>