<!-- Modal -->
<div class="modal fade" id="gallery-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">The First Annual General Meeting</h4>
      </div>
      <div class="modal-body">
        <ul class="row list-unstyled modal-gallery">
            <li class="col-md-4">
                <a href="assets/img/1.jpg" data-lightbox="m-gallery">
                    <img class="img-responsive" src="assets/img/1.jpg">
                </a>
            </li>  
            <li class="col-md-4">
                <a href="assets/img/2.jpg" data-lightbox="m-gallery">
                    <img class="img-responsive" src="assets/img/2.jpg">
                </a>
            </li>  
            <li class="col-md-4">
                <a href="assets/img/3.jpg" data-lightbox="m-gallery">
                    <img class="img-responsive" src="assets/img/3.jpg">
                </a>
            </li>  
            <li class="col-md-4">
                <a href="assets/img/4.jpg" data-lightbox="m-gallery">
                    <img class="img-responsive" src="assets/img/4.jpg">
                </a>
            </li>    
            <li class="col-md-4">
                <a href="assets/img/5.jpg" data-lightbox="m-gallery">
                    <img class="img-responsive" src="assets/img/5.jpg">
                </a>
            </li>   
            <li class="col-md-4">
                <a href="assets/img/6.jpg" data-lightbox="m-gallery">
                    <img class="img-responsive" src="assets/img/6.jpg">
                </a>
            </li>  
        </ul>
      </div>
    </div>
  </div>
</div>