<h1>Chairperson</h1>

<ul>
    <li><h2>Raise awareness among the people of the Maldives on the importance of protecting the country’s environ- ment and on the perils of climate change to the future of mankind, and in particular to the survival of small island states such as the Maldives, and carry out environmental protection efforts.</h2></li>
    <li><h2>Plan and implement various programmes to promote and sustain security of small states.</h2></li>
</ul>